# Tell GitHub to treat Dart files as Dart
*.dart linguist-language=Dart

# Tell GitHub to ignore CMake files for language stats
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
